@page
@inherits FS.Abp.CodingManagement.Web.Pages.CodingManagementPage
@model FS.Abp.CodingManagement.Web.Pages.CodingManagement.IndexModel
@{
}
<h1>CodingManagement</h1>
<p>A sample page for the CodingManagement module.</p>