[submodule "angular/themes/theme-core"]
	path = angular/themes/theme-core
	url = http://bitbucket.furthersoftware.com.tw/scm/mod/fs.abp.themes.git
	branch = angular/themes/theme-core
[submodule "angular/libs/setting-management"]
	path = angular/libs/setting-management
	url = http://bitbucket.furthersoftware.com.tw/scm/mod/fs.abp.settingmanagement.git
	branch = angular/libs/setting-management
